<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.fau.amos.virtualledger">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bankingboys"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bankingboys"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="de.fau.amos.virtualledger.android.App">
        <activity android:name=".android.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity
            android:name=".android.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar"></activity>-->
        <activity
            android:name=".android.RegisterActivity"
            android:label="Register"
            android:theme="@style/AppTheme"
            android:parentActivityName=".android.RegisterActivity">
        </activity>
        <activity
            android:name=".android.MainActivity_Menu"
            android:theme="@style/AppTheme"
            android:parentActivityName=".android.MainActivity_Menu">
            ></activity>

    </application>

</manifest>